<main class="menu">
  <h1>Explora con nosotros los horizontes de Arduino</h1>
  <h2>Consulte la información que tenga en mente</h2>
  <p>Unknown Blacksmith, la compañía que quiere darte una biblioteca de información desde la comodidad de tu casa</p>
  
  <div class="carousel-container">
    <div class="carousel">
      <div class="slide">
        <img class="arduinos" src="../assets/img/arduino_general.jpg" alt="general">
      </div>
      <div class="slide">
        <img class="arduinos" src="../assets/img/componentes.webp" alt="componentes">
      </div>
      <div class="slide">
        <img class="arduinos" src="../assets/img/placa_2.png" alt="placa 2">
      </div>
      <div class="slide">
        <img class="arduinos" src="../assets/img/placas_arduino.jpg" alt="placas arduino">
      </div>
      <div class="slide">
        <img class="arduinos" src="../assets/img/sensores_ard.jpg" alt="sensores arduino">
      </div>
     
    </div>
    <p>
      Mapa del sitio web
      <img class="arduinos" src="../assets/img/MAPA.jpg" alt="sensores arduino">
    </p>
  </div>
</main>
