<!-- acerca-de-nosotros.component.html -->
<div class="about-container">
    <img class="logo_corp" src="../assets/img/logo_empresa.png" alt="logo">
    <h1>Acerca de nosotros</h1>
  
    <table class="custom-table">
        <thead>
            <tr>
                <th>Misión</th>
                <th>Visión</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Nuestra misión es proporcionar y recopilar información 
                    detallada acerca del mundo de Arduino. Nos esforzamos 
                    por ser la fuente principal de conocimiento sobre componentes 
                    Arduino, ofreciendo datos precisos y actualizados. Queremos 
                    facilitar el acceso a la información para todos los entusiastas 
                    de la tecnología, desde principiantes hasta expertos, para que 
                    puedan desarrollar sus proyectos con éxito. Además, proporcionamos 
                    detalles sobre la localización de tiendas y proveedores donde se 
                    pueden adquirir estos componentes.
                </td>
                <td>
                    Nuestra visión es ser una de las fuentes de información más 
                    detallada y confiable en el área tecnológica, especialmente en 
                    lo relacionado con Arduino y sus componentes. Aspiramos a 
                    construir una comunidad robusta de innovadores y creadores 
                    que utilicen nuestra plataforma para aprender, compartir y crecer. 
                    Queremos expandir nuestro alcance a nivel global, ayudando a los 
                    usuarios a encontrar fácilmente los componentes que necesitan, y 
                    promoviendo la educación y la innovación tecnológica en todas partes.
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        Términos y condiciones  
    </h2>
    <p>
        Bienvenido a Arduino Knowledge. Al acceder y utilizar nuestro sitio web, 
        aceptas cumplir con los siguientes términos y condiciones. Si no estás de 
        acuerdo con estos términos, te pedimos que no utilices nuestro sitio web.
    </p>
    <p>
        Arduino Knowledge se centra en proporcionar y recopilar información detallada 
        sobre componentes y proyectos relacionados con Arduino. Nuestro objetivo es ser 
        una fuente principal de conocimiento en el área de Arduino, ofreciendo datos 
        precisos y actualizados sobre componentes, tiendas y proveedores.

        El contenido disponible en nuestro sitio web es únicamente para fines 
        informativos y educativos. Aunque nos esforzamos por mantener la precisión y 
        actualización de la información, no garantizamos que toda la información sea 
        completa, precisa o esté libre de errores.
    </p>
    <h3>
        Dirección de la instalación
    </h3>
    <p>
        Alfonso Humberto 302, Bulevar, 20270 Aguascalientes, Ags. Int #2
    </p>
    <p>
       <img src="../assets/img/ubi_local_maps.jpg" class="ubi_local_maps">
       <img src="../assets/img/ubi_local.jpeg" class="ubi_maps">
    </p>

  </div>
  